@import './../../css/var.scss';

.dropdown {
  width: 100%;
  max-width: 370px;
  background: $dropdown-bg;
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $placeholder;
  outline: none;
  position: relative;

  &.active {
    background: $dropdown-active;
    color: $white;
    border-radius: 3px 3px 0 0;
  }

  @media screen and (max-width: 1000px) {
    max-width: 47%;
  }

  @media screen and (max-width: 675px) {
    max-width: 100%;
  }
}
