@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../fonts/Raleway-ExtraBold.woff');
  src: url('../fonts/Raleway-ExtraBold.woff') format('embedded-opentype'), url('../fonts/Raleway-ExtraBold.woff') format('woff'), url('../fonts/Raleway-ExtraBold.woff') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff');
  src: url('../fonts/Lato-Regular.woff') format('embedded-opentype'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.woff') format('truetype');
  font-style: normal;
  font-display: swap;
}