$white: #FFFFFF;
$black: #000000;
$dropdown-bg: rgba(255, 255, 255, 0.85);
$dropdown-active: rgba(61, 64, 80, 0.85);
$select-bg: rgba(39, 39, 51, 0.9);
$subtitle: #BBBBBB;
$primary-blue: #3e9cdc;
$secondary-blue: #42A9ED;
$blue: #43ABF0;
$blue-hover: #aacde7;
$white-hover: #efefef;
$circle-border: #286690;
$placeholder: #272733;
$gray: #6F6D7B;
$secondary-gray: #2A2B30;
$primary-gray: #C3C3C3;
$circle-text: #C4C4C4;
$scroll-bg: #3D4050;
$header-bg: rgba(16, 16, 29, 0.9);
$input-bg: rgba(255, 255, 255, 0.7);