.container {
  width: 1170px;
  margin: 0 auto;

  @media screen and (max-width: 1250px) {
    & {
      width: 95%;
    }
  }

  @media screen and (max-width: 475px) {
    & {
      padding: 0 10px;
    }
  }
}