@import './../../../css/var.scss';

.btn_white {
  background: $white;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: $secondary-gray;
  border-color: $gray;
  max-width: 183px;

  &:hover {
    color: $white;
    border-color: $white;
    background: $primary-blue;
  }

  @media screen and (max-width: 375px) {
    & {
      max-width: 100%;
    }
  }
}