@import '../../../css/var';

.menu__icon {
  @media screen and (max-width: 768px) {
    & {
      display: block;
      stroke: $white;
      width: 32px;
      height: 32px;

      &:hover {
        stroke: $white;
      }
    }

    &-menu {
      display: block;
    }

    &-close {
      display: none;
    }
  }
}
