.form__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 480px) {
    & {
      gap: 20px;
    }
  }

  @media screen and (max-width: 375px) {
    & {
      gap: 10px;
    }
  }
}